// Navigation code here

body header {


    .title {
        .flexCenter();
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    nav {
        .flexCenter();


        a {
            color: inherit;
            text-decoration: none;
            padding: 1rem;
        }

    }

    .jumboPictureContainer {
        .flexCenter();
    }
}